<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-6 columns">
                <p>&copy; 2014 - ProgressiveJS.com</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="/github.com/longpshorn/ProgressiveJS">Github Project</a></li>
                    <li><a href="@Url.Action("License")">License</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
