<h5>Documentation</h5>
<nav>
    <ul class="side-nav">
        <li class="heading">Progressive Forms</li>
        <li><a href="#basic-form">Basic Progressive Forms</a></li>
        <li><a href="#data-forms">Forms with Data</a></li>
        <li><a href="#wizard">Multi-step Wizards</a></li>
        <li><a href="#reinitialization-form">JavaScript Reinitialization</a></li>
        <li><a href="#main-response-form">Main Response</a></li>
        <li><a href="#items-form">Items</a></li>
        <li><a href="#callbacks-form">Callbacks</a></li>
        <li><a href="#commands-form">Commands</a></li>
        <li class="divider"></li>

        <li class="heading">"Progressive" Items</li>
        <li><a href="#single-element">Single element enhancement</a></li>
        <li class="divider"></li>
    </ul>
</nav>