<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<div class="row sunburst">
    <div class="medium-4 large-3 columns">
        <div class="hide-for-small">
            <div class="sidebar">
                @Html.Partial("_DemoSideNav")
            </div>
        </div>
    </div>
    <div class="small-12 medium-8 large-9 columns">
        <h2>ProgressiveJS Examples</h2>
        <p>Getting started with ProgressiveJS is easy. To help you get started, we have provided some examples of all the ways that you can use ProgressiveJS.</p>

        <h3 id="basic-form">Basic Progressive Forms</h3>
        @Html.Partial("_DemoStandardHTMLForm")

        @Html.Partial("_DemoBasicProgressiveForm")

        <h3 id="data-forms">Forms with Data</h3>
        @Html.Partial("_DemoProgressiveDataForm")


    </div>
</div>
