<div class="row">
    @* Main Content *@
    @* This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens *@
    <div class="large-9 push-3 columns">
        <h1>ProgressiveJS</h1>
        <h2><small>A framework for AJAX applications</small></h2>

        <div class="row">
            <div class="small-12 medium-6 columns">
                <h3>What is it?</h3>
                <p>
                    ProgressiveJS is a simple, light-weight framework that makes developing progressively enhanced AJAX applications easier.
                </p>
            </div>
            <div class="small-12 medium-6 columns">
                <h3>Why use it?</h3>
                <p>
                    ProgressiveJS was built to fit into a typical <strong>back-end</strong> developer's workflow to speed-up <strong>front-end</strong>
                    development. ProgressiveJS makes your job a lot easier by giving you conventions that speed up your work. ProgressiveJS doesn't
                    reinvent the wheel and change the way the web works. It works with the web to help you make snappy applications in less time.
                </p>
                <p>For more info on why you should use it, check out the <a href="@Url.Action("FAQs")">FAQs.</a></p>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <h3>How do I use it?</h3>
                <p>Check out the <a href="@Url.Action("Demo")">demo</a></p>
            </div>
        </div>
    </div>

    @* Nav Sidebar *@
    @* This is source ordered to be pulled to the left on larger screens *@
    <div class="large-3 pull-9 columns">
        <p><img src="http://placehold.it/320x240&text=Ad" /></p>
        <ul class="side-nav">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
        </ul>
    </div>
</div>
